*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    height: 100vh; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 80vh;
    width: 80vh;
    border : 3px solid whitesmoke;
}


.square{
    display : flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.ball{
    height: 1.5em;
    width: 1.5em;
    background-color: blue;
    border-radius: 50%;
    animation: bounce;
}

@keyframes bounce{
    0% {
        
    }
}